#geral{
    width: 1000px;
    height: 800px;
    margin: auto;
}
#cabecario{
display: flex;
justify-content: center;
align-items: center;
margin: 40px;
letter-spacing: 4px;
}

#form{
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;

}
input,textarea,select{
    margin: 7px 0px;
    border-radius: 4px;
transition:0.2s ;
}
label{
    font-size: 20px;
}
.d-size{
     width: 110px;
}
button{
    margin: 20px 10px; 
    padding: 7px;
    background-color: rgba(219, 219, 219, 0.685);
    color: rgb(78, 78, 78);
    transition: 0.2s;
    transform: translateY(5px);
}
button:hover{
    transform: translateY(3px);
}
input:hover,textarea:hover,select:hover{
transform: translateY(-2px);
cursor: pointer;
}
#corridas{
    border: 1px solid rgba(0, 0, 0, 0.432);
    width: 400px;
    min-height: 100px;
    padding: 10px;
    margin: 10px 0px;
}